<p>Hello <%= @user.email %>!</p>

<p>This is a reminder to confirm your registration for the Simply Vital Health Bounty Program.</p>

<p>Here is the confirmation code for your account:</p>
<p><%= @user.confirmation_code %></p>

<p>Please access your account and enter this code on your dashboard.</p>
<p>Thank you.</p>
<hr>
<!-- <p>For further assistance, please contact:</p>
<p>support@simplyvitalhealth.com</p> -->
