<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% if Rails.env.production? %>
  <p><%= link_to 'Change my password', "https://bountyhealthnexus.herokuapp.com/recover_password?token=" + @token %></p>
<% else %>
  <p><%= link_to 'Change my password', "http://localhost:3000/recover_password?token=" + @token %></p>
<% end %>


<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<hr>
<p>For further assistance, please contact:</p>
<p>support@simplyvitalhealth.com</p>
